<div class="w-full mx-auto md:w-2/3">
  <div class="flex flex-col items-center md:flex-row md:justify-between">
    <h1 class="mb-5 text-4xl font-bold md:mb-0">購物車</h1>
    <div class="flex space-x-5">
      <%= link_to '繼續選購', books_path, class: "add-btn" %>
      <% if @cart.items.any? %>
        <%= link_to '您的優惠券', coupons_index_path, class: "save-btn" %>
      <% else %>
        <p>立即選購！</p>
      <% end %>
    </div>
  </div>
  <table class="w-full mt-5">
    <thead class="text-lg font-semibold">
      <tr>
        <th class="py-3 pr-3 text-left md:pr-5">書籍名稱</th>
        <th class="py-3 pr-3 text-left md:pr-5">數量</th>
        <th class="py-3 pr-3 text-left md:pr-5">單價</th>
        <th class="py-3 pr-3 text-left md:pr-5">小計</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.items.each do |item| %>
        <tr>
          <td class="text-left"><%= item.book.title %></td>
          <td class="text-left"><%= item.quantity %></td>
          <td class="text-left md:pr-5">NT $<%= item.book.price %></td>
          <td class="text-left">NT $<%= item.price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="border-t border-gray-300">
      <tr class="text-lg font-semibold">
        <td colspan="3">總計</td>
        <% if session[:selected_coupon].present? %>
          <% selected_coupon = session[:selected_coupon] %>
          <% discount_amount = selected_coupon["discount_amount"] %>
          <% total_price_after_discount = @cart.total_price - discount_amount %>
          <td class="text-left">NT $<%= total_price_after_discount %></td>
        <% else %>
          <td class="text-left">NT $<%= @cart.total_price %></td>
        <% end %>
      </tr>
      <% if session[:selected_coupon].present? %>
        <tr>
          <td class="pt-10">已套用優惠券: <%= selected_coupon["name"] %></td>
          <td class="pt-10"><%= button_to '取消此優惠券', cancel_coupon_cart_path, method: :delete, data: { turbo: false }, class: 'save-btn text-sm' %></td>
        </tr>
      <% end %>
    </tfoot>
  </table>
  <%= link_to "清空購物車", cart_path, data: {turbo_method: :delete}, class: "danger-btn text-sm mt-5" %>
</div>
